<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: ghostwhite;
        }
        h1{
            background-color: rgb(13, 110, 253);
             text-align: center;
             color: aliceblue;
             font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        }
         .course{
            background-color:  rgb(13, 110, 253);
            color: aliceblue;
            border-radius: 20px;
            padding: 20px;
            margin-right: 30px;
             
        }
        .department{
              background-color:  rgb(13, 110, 253);
            color: aliceblue;
            border-radius: 20px;
            padding: 20px;
            margin-right: 30px;
        }
        .doctor{
             background-color:  rgb(13, 110, 253);
            color: aliceblue;
            border-radius: 20px;
            padding: 20px;
            margin-right: 30px;
        }
        .student{
             background-color:  rgb(13, 110, 253);
            color: aliceblue;
            border-radius: 20px;
            padding: 20px;
            margin-right: 30px;
        }
        .absence{
             background-color:  rgb(13, 110, 253);
            color: aliceblue;
            border-radius: 20px;
            padding: 20px;
            margin-right: 30px;
        }
        .logout{     
             background-color:  rgb(89, 121, 168);
            color: aliceblue;
            border-radius: 50px;
            padding: 20px;
             margin-left: 350px;
              
            text-align: center;}
        .adds{
             padding: 200px;
            padding-left: 400px;
             
            
             
        }
    </style>
</head>
<body>
    <h1>welcome in admin page</h1>
    <div class="adds"> 
<a href="/courses" class="course">About courses</a>
<a href="/departments" class="department">About department</a> 
<a href="/doctor" class="doctor">About doctors</a>
<a href="/student" class="student">About students</a>  
 <a href="" class="absence">view absence files</a><br><br><br><br><br><br><br><br>
  



<a href="/login" class="logout"  >LOG IN</a> <!-- if he wanna logout we will return him to login page-->
</div>

</body>
</html>