<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome in admin page, choose what you wanna do</h1>
<a href="/courses">About courses</a><br>
<a href="/departments">About department</a><br>
<a href="/doctor">About doctors</a><br>
<a href="/student">About students</a><br>

<a href="">view absence files</a><br><br>



<a href="/login">log out</a> <!-- if he wanna logout we will return him to login page-->


</body>
</html>