
<style>
    th {
     
    border-radius: 30px ;
    background-color: rgb(13, 110, 253);
    color: aliceblue;
    
       width: 200px;
      
         margin-left: 450px;
       margin-top: 50px;
      padding: 7px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
     td{
      font-size: large;
       padding-left: 60px;
    }
     table {
  border-spacing: 15px;
    margin-left: 400px;
       }
       #btn{
         font-family:'Gill Sans', 'Gill Sans MT',' Calibr', 'Trebuchet MS', sans-serif;
         font-size: large;
         padding: 9px;
         margin-left: 500px;
        background-color: rgb(55, 155, 209);
         
     }
      h1{
            background-color: rgb(13, 110, 253);
             text-align: center;
             color: aliceblue;
             font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        }
.name{
        font-family:'Gill Sans', 'Gill Sans MT',' Calibr', 'Trebuchet MS', sans-serif;
        color: rgb(6, 11, 69);
        
     }
      #name{
        border-radius: 20px;
     }
      #code{
        border-radius: 20px;
     }
     
</style>
  <h1>add new department</h1>
<div>
    <form action="/departments" method="post">
       
        
        <!-- department name-->
         <div>
            <label class="name">NAME</label>
            <input type="text" class="" name="name" id="name"><br><br><br>
        </div>
        <!--department code-->
         <div>
            <label class="name">code</label>
            <input type="text-" class="" name="code" id="code"><br><br><br>
        </div>
        
        


        <button class="btn">add</button>

    </form>
</div>

<h1>  departments :</h1>
<table> 
   <tr>
    <th>
    department_name
    </th>
     <th>
        department_code
    </th>
   </tr>
    
    {{#each departments}}
    <tr> 
    <td> {{department_name}}</td>
    <td> {{department_code}}</td>
    </tr>
    {{/each}}
 </table>